.block {
    border-radius: 4px;
    width: 966px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    background: var(--white);
    padding: 32px;
    margin-bottom: 100px;
    margin-top: 50px;
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 133%;
    color: #11142d;
    margin-bottom: 54px;
}

.info {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: var(--primary);
    display: flex;
    align-items: center;
    gap: 26px;
    margin-bottom: 49px;
}

.info::before {
    content: "";
    background-image: url("../../assets/download.svg");
    background-repeat: no-repeat;
    width: 56px;
    height: 56px;
    display: inline-block;
}

.img {
    margin-bottom: 65px;
}

.btn {
    font-weight: 500;
    font-size: 16px;
    color: var(--white);
    border-radius: 14px;
    padding: 7px 8px;
    width: 343px;
    background-color: var(--primary);
    text-align: center;
}