.img_block {
    border: 2px solid var(--white);
    border-radius: 14px;
    box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.21);
    margin-bottom: 16px;
}

.title {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: var(--text);
    text-align: center;
}
