.block {
    border-radius: 12px;
    width: 966px;
    background-color: #FF7F4D;
    background-image: url("../../assets/obuna_bg.svg");
    background-repeat: no-repeat;
    padding: 32px 0 80px 32px;
}

.title {
    font-weight: 700;
    font-size: 26px;
    line-height: 123%;
    color: var(--white);
    width: 331px;
}